<html>
    <head>
     <meta charset="utf-8">
     <title>Demo</title> 
    <script src="https://truongphamonline.herokuapp.com/socket.io/socket.io.js"></script>
    <script src="jquery.js"></script>
    <script src="xuly.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css">
    </head>
    <body>
      <div id="wrapper">
          <div id="information">
<input type="text" id="txtHoten" placeholder="Ho Ten"/>
<input type="text" id="txtEmail" placeholder="Email"/>
<input type="text" id="txtSoDT" placeholder="Dien thoai"/>
<input type="button" id="btnRegister" value="Send"/>

          </div>

<div id="listUsers">
<h3>Danh sach hoc vien</h3>
<div id="ds">
    
</div>   
</div>
</div>
</body>
</html>